<div class="form-login">
    <div class="form-group row">
        <label for="inputMessage">Message</label>
        <input placeholder="Message" type="text" id="inputMessage" [(ngModel)]="review.message" />
    </div>
    <div class="form-group row">
        <label for="inputRating">Rating</label>
        <input placeholder="Rating" type="text" id="inputRating" [(ngModel)]="review.rating" />
    </div>
    <div class="button">
        <button type="button" class="btn btn-success" (click)="addReview()">
            Add review
        </button>
    </div>
</div>