<div class="form-register">
    <div class="customRow">
        <div class="customCol">
            <div class="form-group row">
                <label for="inputEmail">Email</label>
                <input placeholder="Email" type="email" id="inputEmail" />
            </div>
            <div class="form-group row">
                <label for="inputPassword">Password</label>
                <input placeholder="Password" type="password" id="inputPassword" />
            </div>
            <div class="form-group row">
                <label for="inputFio">FIO</label>
                <input placeholder="FIO" type="text" id="inputFio"/>
            </div>
            <div class="form-group row">
                <label for="inputSerial">Serial number</label>
                <input placeholder="Serial number" type="text" id="inputSerial" />
            </div>
        </div>
        <div class="customCol">
            <div class="form-group row">
                <label for="inputIdentification">Identifiaction number</label>
                <input placeholder="Identifiaction number" type="text" id="inputIdentification" />
            </div>
            <div class="form-group row">
                <label for="inputRegistration">Registration</label>
                <input placeholder="Registration" type="text" id="inputRegistration" />
            </div>
            <div class="form-group row">
                <label for="inputIssue">Issue date</label>
                <input placeholder="Issue date" type="date" id="inputIssue" />
            </div>
            <div class="form-group row">
                <label for="inputExp">Expiration date</label>
                <input placeholder="Expiration date" type="date" id="inputExp" />
            </div>
        </div>
    </div>

    <div class="button">
        <button class="btn btn-primary" onClick={signUpClick}>Register</button>
    </div>
</div>