<div class="form-login">
    <div class="form-group row">
        <label for="inputNumber">Card number</label>
        <input placeholder="Number" type="text" id="inputNumber"/>
    </div>
    <div class="form-group row">
        <label for="inputExpiration">Expiration date</label>
        <input placeholder="Expiration date" type="date" id="inputExpiration"/>
    </div>
    <div class="form-group row">
        <label for="inputHolder">Holder's name</label>
        <input placeholder="Holder's name" type="text" id="inputHolder" />
    </div>
    <div class="form-group row">
        <label for="inputCVV">CVV</label>
        <input placeholder="CVV" type="text" id="inputCVV" />
    </div>
    <div class="button">
        <button type="button" class="btn btn-success" onClick={updateCardOnClick}>
            Add card
        </button>
    </div>
</div>